body{
    background-color:rgb(255, 255, 255);
    
}

nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height:60px;
    padding: 10px 60px;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid black;
    background-color: rgb(255, 255, 255);;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.right{
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;

}

.medium{
    display: flex;
    align-items: center;
    cursor: pointer;
}

#getstarted{
    border: 1px solid black;
    padding: 8px 15px;
    border-radius: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
}

/* .main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;

}

.main img{
    width: 600px;
    margin-top: 40px;
    height: auto;
    
}


.text{
    font-size: 40px;
    padding: 0px 50px;
    text-align: left;
}

#News{
    margin-bottom: 10px;
}


#one{
    font-size: 20px;
    margin-top: 0px;
    
}

button{
    font-size: 20px;
    border: 1px solid black;
    padding: 8px 15px;
    border-radius: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 25px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    margin-top: 50px;
    padding-top: 5px;
    border-top: 1px solid black;
}

footer p{
    cursor: pointer;
} */

.link{
    margin-top: 90px;
    display: inline-block;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(212, 211, 209);
    color: black;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.link:hover{
    background-color: #717374;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    gap: 20px;
    border: 1px solid black;
    border-radius: 20px;
    width: 40%;
}

#posts{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    margin: 10px 20px;
    padding-top: 20px;
}
.card{

    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    
}
.card:hover{
    box-shadow: 0 4px 8px rgba(22, 22, 22, 0.2);
    transform: translateY(-5px);
}

.post-link {
  margin-bottom: 10px;
  font-size: 22px;
  color: #333;
  text-decoration: none;
}



.card-img{ 
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}




.delete-btn{
    background-color: rgb(212, 211, 209);
    color: black;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 30px;

}

.delete-btn:hover{
    background-color: #717374;
}




@media (max-width: 900px) {
    .main img{
   display: none;
   }

   .temp{
    display: none;
   }


    .text{
        font-size: 30px;
        padding: 0px 20px;
    }

    form{
     width: 70%;   
    }

       .card-img{ 
  width:80%;
  height: 150px;
  
}
}


@media (max-width: 600px) {

    .temp{
        display: none;
    }

    .main img{
        display: none;
    }
    .text{
        font-size: 25px;
    }

    #one{
        font-size: 18px;
    }

    button{
        font-size: 18px;
    }

    form{
     width: 70%;   
    }

    .card-img{ 
  width:50%;
  height: 100px;
  
}

}
